{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}


{% comment %} <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'view_available_flights' %}" role="form">
                        {% csrf_token %}
                        <div class="form-group w-100">
                            <div class="row w-100">
                                <div class="col-6">
                                    <select class="form-control w-100" id="source-select" name="source">
                                        <option value="">-- Select Source --</option>
                                        {% for source in sources %}
                                            <option value="{{ source }}">{{ source }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <select class="form-control w-100" id="destination-select" name="destination">
                                        <option value="">-- Select Destination --</option>
                                        {% for destination in destinations %}
                                            <option value="{{ destination }}">{{ destination }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row w-75 mt-2">
                                <div class="col-12">
                                    <button class="btn btn-outline-primary w-100" type="submit">View All Available Flights</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'view_booking' %}" role="form">
                        {% csrf_token %}
                        <div class="form-group w-100">
                            <div class="row w-100">
                                <div class="col-8">
                                    <input class="form-control w-100" placeholder="Enter PNR" name="pnr" type="text">
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-primary w-100" type="submit">View My Booking</button>
                                </div>
                            </div>
                        </div>
                        {% if error_message_booking %}<p><strong>{{ error_message_booking }}</strong></p>{% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'view_available_flights' %}" role="form">
                        {% csrf_token %}
                        <div class="form-group w-100">
                            <div class="row w-100">
                                <div class="col-6">
                                    <select class="form-control w-100" id="source-select" name="source">
                                        <option value="">-- Select Source --</option>
                                        {% for source in sources %}
                                            <option value="{{ source }}">{{ source }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <select class="form-control w-100" id="destination-select" name="destination">
                                        <option value="">-- Select Destination --</option>
                                        {% for destination in destinations %}
                                            <option value="{{ destination }}">{{ destination }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row w-100 mt-2 justify-content-center">
                                <div class="col-8">
                                    <button class="btn btn-outline-primary w-100" type="submit">View All Available Flights</button>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'view_booking' %}" role="form">
                        {% csrf_token %}
                        <div class="form-group w-100">
                            <div class="row w-100">
                                <div class="col-8">
                                    <input class="form-control w-100" placeholder="Enter PNR" name="pnr" type="text">
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-primary w-100" type="submit">View My Booking</button>
                                </div>
                            </div>
                        </div>
                        {% if error_message_booking %}<p><strong>{{ error_message_booking }}</strong></p>{% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% if error_message_flight %}
    <p><strong>{{ error_message_flight }}</strong></p>
{% endif %}
{% if flights %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Flight No.</th>
            <th scope="col">Airline</th>
            <th scope="col">No. of seats</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Arrival Time</th>
        </tr>
    </thead>
    <tbody>
        {% for flight in flights %}
        <tr>
            <td>{{ flight.flight_no }}</td>
            <td>{{ flight.airline_name }}</td>
            <td>{{ flight.no_of_seats }}</td>
            <td>{{ flight.source }}</td>
            <td>{{ flight.destination }}</td>
            <td>{{ flight.departure_time }}</td>
            <td>{{ flight.arrival_time }}</td>
            <td>
                {% if flight.no_of_seats > 0 %}
                <a href="{% url 'book_flight' flight.pk %}" class="btn btn-outline-success" role="button">Book Now!</a>
                {% else %}
                <button type="button" class="btn btn-success disabled">Book Now!</button>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No flights available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}




<script>
document.addEventListener("DOMContentLoaded", function() {
    const sourceSelect = document.getElementById('source-select');
    const destinationSelect = document.getElementById('destination-select');
    
    sourceSelect.addEventListener('change', function() {
        const selectedSource = sourceSelect.value;

        // Enable all options first
        for (const option of destinationSelect.options) {
            option.disabled = false;
        }

        // Disable the option that matches the selected source
        if (selectedSource) {
            const toOption = destinationSelect.querySelector(`option[value="${selectedSource}"]`);
            if (toOption) {
                toOption.disabled = true;
            }
        }
    });
});
</script>
{% endblock %}